:root {
    --primary-color: #e39318;
    --secondary-color: #198ce3;
    --accent1: #a3793b;
    --accent2: #3f6c8e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Port Lligat Slab', Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Inter, Verdana, Arial, Helvetica, Tahoma, sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;
}

header img {
    width: 100px;
    justify-self: center;
}

header nav {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
}


section, footer, nav {
    max-width: 1170px;
    margin: auto;
    padding: 24px 0;
}


/* Class Style*/

.hero {
    position: relative;
    max-width: 1170px;
    margin: auto;
}


.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: var(--accent2);
    color: #ffffff;
}

.hero article {
    position: absolute;
    max-width: 900px;
    left: 120px;
    top: 200px;
    padding: 1rem;
    background-color: var(--accent2);
    color: #ffffff;
}

.hero article img {
    width: 200px;
    float: right;
}



.history h2 {
    text-align: center;
    margin-bottom: 8px;
}

.history div {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 16px;
}

.history div img {
    width: 100%;
}

.adventure h2 {
    text-align: center;
    margin-bottom: 8px;
}

.adventure div {
    display: flex;
    justify-content: space-between;
}

.adventure div figure img {
    width: 100%;
    max-width: 150px;
}

footer {
    display: grid;
    grid-template-columns: 50% 10%;
    justify-content: end;
    align-items: center;
}


footer nav {
    display: flex;
    gap: 16px;
}

footer .social-links {
    justify-self: end;
}


footer .social-links a img {
    width: 30px;
}

.social-links a{
    text-decoration: none;
}